MONGO_URL=mongodb://127.0.0.1:27017
BOT_DB_NAME=ai_wa_bot
LAPAKIN_API_URL=https://dev.lapakin.my.id
EMERGENT_LLM_KEY=
PORT=8002
CORS_ORIGINS=http://localhost:3001,https://dev.lapakin.my.id
GEMINI_API_KEY="AIzaSyDEM7DCCde7lGr5FxH3zRvrPf6Tdj2wqyQ"
OPENAI_API_KEY="sk-proj-DVCYlOkVC07l68bxZFZUlPCZ6J3NqbdBKpwbwNO77p9OYV9kQoB85_bStrdahI6PQUiyvS7NdiT3BlbkFJ51sYY3nfCvREIKSQBflE_Du-4I_MbVSd>
BOT_SERVICE_TOKEN=66779821f6fe55fdeb30f0166a398693e22a5a97bfe8abfd86a9286803bb44f1
